/* color palettes  */

$pink: #fad4d8;
$blue: #89a1a9;
$dark-blue: #546a76;
$green: #b4ceb3;
$brown: #fad4d8;
$yellow: #ffde31;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

button {
  cursor: pointer;
}
li {
  cursor: pointer;
}
