.section-home {
  width: 100vw;
  height: 100vh;
}
.trees-svg {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130%;
  transform: translateX(-10%);
  z-index: -10;
}

//the text in home
.main-text-plus-btn {
  // position: absolute;
  // transform: translateY(70%);
  text-align: center;
}
.lets-talk-btn:hover {
  padding: 0 2.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2rem;
}
.yoav-dot {
  font-size: 7rem;
  color: $pink;
}
.main-title {
  font-size: 4.7rem;
}
.sub-title {
  font-size: 1.5rem;
  transform: translateY(-80%);
}
@media screen and (max-width: 800px) {
  .trees-svg {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140%;
    transform: translate(-16%, 80%);
  }
  .main-title {
    font-size: 3rem;
  }
}
